.header-img img{
    width: 100%;
    max-width: 992px;
}

.tab-content{
    margin: 0 auto;
    max-width: 700px;
}

.card{
    max-width: 700px;
    margin: 0 auto;
}

.speaking img{
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
}

.label img{
    width: 100%;
    max-width: 350px;
}

.selecter{
    padding: 10px;
}

.form-control{
    background-color:#f8f9fa;
}

#stop-btn{
    margin-bottom: 100px;
}